/* static/css/login.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/img/fondo_login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio superior para separar del contenido anterior */
}

form button:hover {
    background-color: #45a049;
}

/* Estilos para el botón de volver (en caso de usar formulario) */
.btn-back,
.btn-back a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Espacio superior para separar del contenido anterior */
}

.btn-back:hover,
.btn-back a:hover {
    background-color: #45a049;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 15px;
    }

    form button {
        font-size: 14px;
        padding: 8px;
    }

    .btn-back,
    .btn-back a {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    form button {
        font-size: 14px;
        padding: 8px;
    }

    .btn-back,
    .btn-back a {
        font-size: 14px;
        padding: 8px 12px;
    }
}
